/sublime/packages/Package Control.user-ca-bundle
/sublime/packages/Package Control.cache
/sublime/packages/Package Control.last-run
/sublime/packages/Package Control.merged-ca-bundle
/sublime/packages/Package Control.sublime-settings
