[core]
	excludesfile = /Users/alexander/.gitignore_global
	autocrlf = false
	editor = vim
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Alexander Lazarov
	email = alexander.lazaroff@gmail.com
	signingkey = B92D3A12
[push]
	default = current
	autoSetupRemote = true
[commit]
	gpgsign = true
	template = /Users/alexander/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	ci = commit
	aa = add --all
	w = commit -m \"WIP\"
	wc = commit -am \"WIP\"
	ap = add --all -p
	g = log --graph --decorate --oneline
	s = status
	f = fetch
	unstage = reset HEAD --
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)%09%(color:red)%(authorname)%09%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	mru = for-each-ref --sort=-committerdate --count=10 refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'

[pull]
	rebase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[diff "sopsdiffer"]
	textconv = sops -d
[diff]
	colorMoved = default
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
